[Unit]
Description=Slurm Compute Node Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/slurm/sbin/slurmd
Restart=on-failure
User=slurm
Group=slurm

[Install]
WantedBy=multi-user.target
